@model Sales.MVCClient.Models.Pagination.IndexViewModelPagination
@using Sales.MVCClient.Helper
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@{
    ViewBag.Title = "Home Page";
}

<form method="get">
    @Html.DropDownList("manager", Model.ItemsList.Managers, string.Empty, new { htmlAttributes = new { @class = "form-control" } })
    @Html.DropDownList("client", Model.ItemsList.Clients, string.Empty, new { htmlAttributes = new { @class = "form-control" } })
    @Html.DropDownList("product", Model.ItemsList.Products, string.Empty, new { htmlAttributes = new { @class = "form-control" } })
    @Html.DropDownList("price", Model.ItemsList.PriceHistories, string.Empty, new { htmlAttributes = new { @class = "form-control" } })
    <input type="submit" value="Filter" class="btn btn-default" />
</form>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <td>@Html.DisplayNameFor(m => m.OperationForLabel.DateOfOperation)</td>
        <td>@Html.DisplayNameFor(m => m.OperationForLabel.Manager.Name)</td>
        <td>@Html.DisplayNameFor(m => m.OperationForLabel.Client.Name)</td>
        <td>@Html.DisplayNameFor(m => m.OperationForLabel.Product.Name)</td>
        <td>@Html.DisplayNameFor(m => m.OperationForLabel.PriceHistory.Price)</td>
        <td>@MagicString.DisplayOperationLabel</td>
    </tr>
    @foreach (var item in Model.OperationsPerPages)
    {
        <tr>
            <td>@item.DateOfOperation</td>
            <td>@item.Manager.Name</td>
            <td>@item.Client.Name</td>
            <td>@item.Product.Name</td>
            <td>@item.PriceHistory.Price</td>
            <td>
                @Html.ActionLink(MagicString.DisplayOperationLabelEdit, "Edit", new { id = item.ID }) |
                @Html.ActionLink(MagicString.DisplayOperationLabelDetails, "Details", new { id = item.ID }) |
                @Html.ActionLink(MagicString.DisplayOperationLabelDelete, "Delete", new { id = item.ID })
            </td>
        </tr>
    }
</table>
<br />


<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { pageNumber = x }))
</div>

