@model Sales.MVCClient.Models.IndexViewModelPagination
@using Sales.MVCClient.Helper
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@{
    ViewBag.Title = "Home Page";
}

<form method="get">
    @Html.DropDownListFor(m=>m.ItemsList.Managers.SelectedValue, Model.ItemsList.Managers, string.Empty, new { htmlAttributes = new { @class = "form-control" } })
    @Html.DropDownListFor(m=>m.ItemsList.Clients.SelectedValue, Model.ItemsList.Clients, string.Empty, new { htmlAttributes = new { @class = "form-control" } })
    @Html.DropDownList("product", Model.ItemsList.Products, string.Empty, new { htmlAttributes = new { @class = "form-control" } })
    @Html.DropDownList("price", Model.ItemsList.PriceHistories, string.Empty, new { htmlAttributes = new { @class = "form-control" } })
    @Html.DropDownList("session", Model.ItemsList.Sessions, string.Empty, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ActionLink("Filter", "Filter", new { pageNumber = Model.PageInfo.PageNumber, manager = Model.ItemsList.Managers.SelectedValue })
</form>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <td>Идентификатор</td>
        <td>Дата операции</td>
        <td>Имя менеджера</td>
        <td>Имя клиента</td>
        <td>Товар</td>
        <td>Цена</td>
    </tr>
    @foreach (var item in Model.OperationsPerPages)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.DateOfOperation</td>
            <td>@item.Manager.Name</td>
            <td>@item.Client.Name</td>
            <td>@item.Product.Name</td>
            <td>@item.PriceHistory.Price</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }
</table>
<br />


<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { pageNumber = x }))
</div>

